<div class="todoItem" (click)="onEditItem()">
  <span>{{item.title}}</span>
  <span class="delete-btn"><i class="far fa-trash-alt" (click)="onDeleteItem()"></i></span>
</div>

<app-custom-modal id="edit-modal">
  <div class="custom-modal-body-container">
    <p class="modal-title">Edit Item</p>
    <input [(ngModel)]="title" type="text">
    <textarea rows="10" [(ngModel)]="description" type="text"></textarea>
    <div class="custom-modal-footer"><button (click)="updateItem()" class="btn btn-success">Update</button>
      <button (click)="editModal.close();" class="btn">Cancel</button>
    </div>
  </div>
</app-custom-modal>