header {
  height: 80px;
  margin: 15px 15px 0 16px;
  display: grid;
  grid-template-columns: auto auto;
}

.header-day {
  margin: 0;
  color: var(--blue);
}

.header-task-count {
  margin-top: 10px;
  text-align: right;
}

.header-month {
  margin-left: 5px;
}

#header-title {
  display: inline-block;
}

.divider {
  height: 1px;
  background: var(--lightgrey);
  border: none;
}

.add-btn {
  background: var(--red);
  color: var(--white);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 25px;
  margin-top: -27px;
  margin-right: 20px;
  display: block;
  float: right;
  cursor: pointer;
}

#toDoList {
  margin-top: 25px;
}
