<header>
  <h2 class="header-day">Thursday, 10<sup><small>th</small></sup></h2>
  <span class="header-task-count">12 Tasks</span>
  <span class="header-month">December</span>
</header>
<hr class="divider">
<button class="btn add-btn" (click)="onClickAddItem()">+</button>

<div id="toDoList">
  <app-todo-list></app-todo-list>
</div>

<app-custom-modal id="add-modal">
  <h1>Add New Item</h1>
  <input [(ngModel)]="title" type="text">
  <textarea rows="10" [(ngModel)]="description" type="text"></textarea>
  <button (click)="addItem()">Add</button>
  <button (click)="addModal.close()">Cancel</button>
</app-custom-modal>