/* Add application styles & imports to this file! */

body {
  margin: 0;
  padding: 0;
}

#top-bg {
  background: hsl(238deg 73% 62%);
  height: 100vh;
  overflow: hidden;
}

#bottom-bg {
  position: relative;
  top: 70%;
  left: -20%;
  background: hsl(359deg 81% 68%);
  width: 130%;
  height: 70%;
  transform: rotate(15deg);
}

#main-playground {
  position: absolute;
  top:0;
  height:100vh;
  width:100vw;
}