/* Add application styles & imports to this file! */

:root {
  --white: white;
  --blue: hsl(238deg 73% 62%);
  --red: hsl(359deg 81% 68%);
  --grey: #8888a0;
  --lightgrey: #8888a070;
  --lightblue: lightblue;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--grey);
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  margin: 0;
}

.btn {
  padding: 8px;
  border: none;
  cursor: pointer;
}

.btn-success {
  background: var(--blue);
  color: white;
}

#top-bg {
  background: var(--blue);
  height: 100vh;
  overflow: hidden;
}

#bottom-bg {
  position: relative;
  top: 70%;
  left: -20%;
  background: var(--red);
  width: 130%;
  height: 70%;
  transform: rotate(15deg);
}

#main-playground {
  z-index: 3;
  position: absolute;
  background: var(--white);
  border-radius: 10px;
  height: 100%;
  width: 80%;
  margin: 10% 10% 0 10%;
}

/* custom modal styles */

.custom-modal-body-container {
  display: grid;
}

.modal-title {
  font-size: 20px;
  color: var(--blue);
}

.custom-modal-body-container p,
h1,
input,
textarea {
  margin: 10px;
}

.custom-modal-footer {
  margin: 10px;
  text-align: right;
}

.custom-modal-footer button {
  margin: 0 10px 0 10px;
  border-radius: 5px;
}

.custom-modal-body-container input {
  height: 20px;
  border: 1px solid var(--lightblue);
}

.custom-modal-body-container textarea {
  border: 1px solid var(--lightblue);
}
